﻿<div>
    <div class="mtitle">
        <strong>Discount Offers</strong>
    </div>
    <div class="k-card" style="float:left;margin-bottom: 40px">
        <div class="Offerpicture">
            <a href="" title="Offer Image">
                <img src="../Themes/HebasTheme/Content/images/Offer/Location-Prompt-Desktop.jpg" alt="offer" width="550" />
            </a>
        </div>
       

    </div>
    <div class="k-card" style="float:right;margin-bottom: 40px">
        <div class="Offerpicture">
            <a href="" title="Offer Image">
                <img src="../Themes/HebasTheme/Content/images/Offer/15826338065e55134e181e151.jpg" alt="offer" width="550" />
            </a>
        </div>
        
       
    </div>
</div>
