﻿<div>
    @*<div class="mtitle">
        <strong>Discount Offers</strong>
    </div>*@
    <div class="k-card" style="float:left;margin-bottom: 40px">
        <div class="Offerpicture">
            <a href="" title="Shophere Image">
                <img src="../Themes/HebasTheme/Content/images/Offer/shophere2.jpg" alt="offer" width="550" />
            </a>
        </div>
       
    </div>
    <div class="k-card" style="float:right;margin-bottom: 40px">
        <div class="Offerpicture">
            <a href="" title="Shophere Image">
                <img src="../Themes/HebasTheme/Content/images/Offer/shophere.jpg" alt="offer" width="550" />
            </a>
        </div>
        
    </div>
</div>
